name: CI
on:
    - push
    - pull_request
jobs:
    test:
        name: Tests on node.js ${{ matrix.node-version }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                node-version:
                    - 15
                    - 14
                    - 12
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm install
            - run: npm run download-wpt
            - run: npm test
              env:
                  WEB_PLATFORM_TESTS_PATH: ./temp/wpt
